.important-ui{
    border:1px solid #f50d0d;
    background:#FFFF00;
    background-color:#FFFF00;
    font-weight:bold;
    color:#000000;
    text-transform: uppercase;
    border-radius:5px;
    }

.agendamento-ui{
    background:#FFFF00;
    background-color:#FFFF00;
    border-style: solid;
    border-color: #cfcf02;
    border-width: 1px;
    font-weight:bold;
    color:#000000;
    }

.atendido-ui{
    background:#09a716;
    background-color:#09a716;
    border-style: solid;
    border-color: #098013;
    border-width: 1px;
    font-weight:bold;
    color:#000000;
    }

.faltou-ui{
    background:#a70909;
    background-color:#a70909;
    border-style: solid;
    border-color: #800909;
    border-width: 1px;
    font-weight:bold;
    color:#f3f3f3;
    }

.desmarcado-aluno-ui{
    background:#646464;
    background-color:#646464;
    border-style: solid;
    border-color: #3f3f3f;
    border-width: 1px;
    font-weight:bold;
    color:#3b3b3b;
    }

.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.disabled-tab {
    background-color: #8DB8D9;
    color: #669CC4;
}

.collapsible {
    background-color: #dfeffc;
    color: #2e6e9e;
    cursor: pointer;
    padding: 12px;
    width: 60%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #2e6e9e;
    color:  #dfeffc;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color:  #f5fbff;
  }